
div { background-image:url('bg.jpg');
     width:750px;
     border:12px solid red;
     border-radius:100px;
     padding:150px;
     margin:9px ;}
h4 img { background-image: url('headbg.jpg'); 
	hight:270px;
	width:230px;
     border:8px solid black;
       animation:pluse 3s infinite;}  
 body { background-image: url('bg2.jpg'); }
h5 img { border-radius:27px;
     hight:230;
     width:210;
     border:0px solid black;
     animation:spin 8s linear infinite ;
    }
	@keyframes spin { 
	0% {transform:rotate(0deg);}
	100% {transform:rotate(360deg);} }
       @keyframes pluse {
	0% { transform:scale(1)}
	100%{transform:scale(1.3)}}
